.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.title{
  text-align: left;
  margin-bottom: 10%;
}
.item{
  height: 50vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
