.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.title{
  margin-top: 25px;
  margin-left: 25px;
 
}
.item{
  height: 30vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.HeaderArea{
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  margin-left: 15px;
}

h3{
  font-weight: bold;
  color: #1a1a1a;
}

.LanguageButton{
width: 62px;
height: 33px;
background-color: #36AA00 !important;
color: white !important;
border: 1px solid #AAAAAA;
border-radius: 5px;
flex: none;
order: 0;
flex-grow: 0;
}
.LanguageButtonTwo{
width: 62px;
height: 33px;
background-color: #36AA00 !important;
opacity: .6;
color: white !important;
border: 1px solid #AAAAAA;
border-radius: 5px;
}
.LanguageTwo{
color: #36AA00 !important;
opacity: .6;
}