.modulecard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  min-width: 15rem;
  /* padding: 2rem 5rem 2rem 5rem; */
  text-decoration: none;
  border: 2px solid #dfdfdf;
  margin: 1% 0 1% 0;
  border-radius: 5px;
  color: black;
}