.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  background: #36AA00;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 5px;
  color: white !important;
  width: 208px;
  height: 36px;
  left: 99px;
  top: 410px;
  margin: 1rem;

}
button:disabled,
button[disabled]{
  background-color: #AAAAAA;
  color: white;
}

.inputContainer {
  margin: 1rem;
  margin-bottom: 0.1rem;
  left: 42.11%;
  right: 41.64%;
  top: 47.64%;
  bottom: 47.36%;
  width: 208px;
  border: 1px solid #AAAAAA;
  height: 36px;
  border-radius: 5px;
  background-color: white;
}
.signUpForm {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 208px;
}

.redirectFont{
  font-size: .8rem;
  text-align: center;
}



